.design {
  padding: var(--main-p);
  background-color: var(--bg-e);
}
.design .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
@media (max-width: 601px) {
  .design .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.design .container img {
  width: 100%;
  border-radius: 10px;
}
